<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" 
                default-autowire="constructor">
<!--         default-autowire="byType"> -->

<!--         default-autowire="byName"> -->
        
        
        
<!--         <bean id="autoWiringService" class="com.imooc.autowiring.AutoWiringService" > -->
<!--            <property name="autoWiringDao" ref="autoWiringDao"></property> -->
<!--         </bean> -->
        <bean id="autoWiringService" class="com.imooc.autowiring.AutoWiringService"></bean>
        
        
        <bean id="autoWiringDAO12" class="com.imooc.autowiring.AutoWiringDAO" ></bean>
	
 </beans>
